
.popup{
    position: fixed;
    /* left: 0%;
    min-width: 100vw;
    height: fit-content;
    margin: 0px;
    z-index: 3;
    top: 150px; */
    top: 0px;
    left: 50%;
    transform:translate(50%, -50%);
    width: 100vw;
    z-index: 9;
}

.popup-inner {
    z-index: 10;
    background-color: none;
    font-size: 72pt;
}



